@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
}
section{
    background-color: rgba(0,0 ,0,0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    border-radius: 15px;
    color: white;
}
